.main {
    max-width: 400px;
    margin: 0 auto;
    color: #333;
}

.tile {
    padding: 12px;
    border-radius: 5px;
    background: #f8f8f2;
    box-shadow: 0 0 20px -2px rgba(26, 188, 156, 0.9);
}

.subHeader {
    text-align: center;
}

.timerContainer {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}

.timerContainer div:last-child {
    text-align: right;
}

.subtext {
    color: #555;
}
